@font-face {
    font-family: "mayeka";
    src: url("../fonts/mayeka/mayeka_regular.woff") format("woff"),
    url("../fonts/mayeka/mayeka_regular.otf") format("opentype");
}
@font-face {
    font-family: "mayeka-thin";
    src: url("../fonts/mayeka/mayeka_thin.woff") format("woff"),
    url("../fonts/mayeka/mayeka_thin.otf") format("opentype");
}
:root {
    --color-primary: #27aae1;
    --color-primary-light: #27aae133;
    --color-primary-dark: #078ac1;
    --color-secondary: #f26522;
    --color-secondary-light: #ff8542;
    --color-secondary-dark: #d24502;
    --color-dark: #433f40;
    --color-black:  #231f20;
    --color-grey: #667;
    --color-light: #f3f3f9;
    --color-white: #ffffff;
    --color-danger: #a33;
    
    --font-brand: 'mayeka';
    --font-primary: "IBM Plex Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-heading: 'Montserrat';
}
