@font-face {
    font-family: "mayeka";
    src: url("../fonts/mayeka/mayeka_regular.woff") format("woff"),
    url("../fonts/mayeka/mayeka_regular.otf") format("opentype");
}
:root {
    --color-primary: #27aae1;
    --color-secondary: #ffde17;
    --color-dark: #433f40;
    --color-black:  #231f20;
    --color-grey: #667;
    --color-light: #f6f6f9;
    --color-white: #ffffff;
    --color-danger: #a33;
}
