:root {
    --color-primary: #47aae1;
    --color-primary-light: #cde4ef;
    --color-primary-dark: #077ab1;
    --color-secondary: #ff8542;
    --color-secondary-light: #ffa562;
    --color-secondary-dark: #d24502;
    --color-dark: #534f50;
    --color-black:  #231f20;
    --color-grey: #667;
    --color-lightgrey: #e3e3e9;
    --color-light: #f3f3f9;
    --color-white: #ffffff;
    --color-danger: #a33;
    
    --font-brand: 'Montserrat';
    --font-primary: "IBM Plex Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-heading: 'Montserrat';
}
